src/backend/TicketBurst.CheckoutService/Integrations/StepFunctions/checkout-workflow.json
{
    "Comment": "An example of the Amazon States Language for starting a task and waiting for a callback.",
    "StartAt": "Start Task And Wait For Callback",
    "States": {
      "Start Task And Wait For Callback": {
        "Type": "Task",
        "Resource": "arn:<PARTITION>:states:::sqs:sendMessage.waitForTaskToken",
        "Parameters": {
          "QueueUrl": "<SQS_QUEUE_URL>",
          "MessageBody": {
            "MessageTitle": "Task started by Step Functions. Waiting for callback with task token.",
            "TaskToken.$": "$$.Task.Token"
          }
        },
        "Next": "Notify Success",
        "Catch": [
          {
            "ErrorEquals": [ "States.ALL" ],
            "Next": "Notify Failure"
          }
        ]
      },
      "Notify Success": {
        "Type": "Task",
        "Resource": "arn:<PARTITION>:states:::sns:publish",
        "Parameters": {
          "Message": "Callback received. Task started by Step Functions succeeded.",
          "TopicArn": "<SNS_TOPIC_ARN>"
        },
        "End": true
      },
      "Notify Failure": {
        "Type": "Task",
        "Resource": "arn:<PARTITION>:states:::sns:publish",
        "Parameters": {
          "Message": "Task started by Step Functions failed.",
          "TopicArn": "<SNS_TOPIC_ARN>"
        },
        "End": true
      }
    }
}
  