src/backend/TicketBurst.CheckoutService/Integrations/StepFunctions/checkout-state-machine.asl.json
{
  "Comment": "Ticketburst - buyer web app, checkout workflow",
  "StartAt": "AwaitWebhookFromPaymentGateway",
  "States": {
    "AwaitWebhookFromPaymentGateway": {
      "Type": "Task",
      "Resource": "arn:aws:states:::apigateway:invoke.waitForTaskToken",
      "Parameters": {
        "ApiEndpoint": "3cnuf521pd.execute-api.eu-south-1.amazonaws.com",
        "Method": "POST",
        "Path": "/workflow/begin",
        "Headers": {
          "Content-Type": ["application/json"],
          "Accept": ["application/json"]
        },        
        "RequestBody": {
          "orderNumber.$": "$.order.orderNumber",
          "taskToken.$": "$$.Task.Token",
          "stateName": "AwaitWebhookFromPaymentGateway"
        },
        "AuthType": "NO_AUTH"
      },
      "ResultPath": "$.paymentResult",
      "Next": "UpdateOrderStatus"
    },
    "UpdateOrderStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::apigateway:invoke",
      "Parameters": {
        "ApiEndpoint": "3cnuf521pd.execute-api.eu-south-1.amazonaws.com",
        "Method": "POST",
        "Path": "/order/update-status",
        "Headers": {
          "Content-Type": ["application/json"],
          "Accept": ["application/json"]
        },
        "RequestBody": {
          "orderNumber.$": "$.order.orderNumber",
          "orderStatus": 2,
          "paymentToken": "DemoTokenTestValue12345"
        },
        "AuthType": "NO_AUTH"
      },
      "Next": "UpdateReportingTable",
      "ResultPath": null
    },
    "UpdateReportingTable": {
      "Type": "Task",
      "Resource": "arn:aws:states:::apigateway:invoke",
      "Parameters": {
        "ApiEndpoint": "3cnuf521pd.execute-api.eu-south-1.amazonaws.com",
        "Method": "POST",
        "Path": "/reporting/add-order",
        "Headers": {
          "Content-Type": ["application/json"],
          "Accept": ["application/json"]
        },
        "RequestBody": {
          "orderNumber.$":"$.order.orderNumber",
          "reservationId.$":"$.order.reservationId",
          "orderDate.$":"$.order.orderDate",
          "eventDate.$":"$.order.eventDate",
          "venueId.$":"$.order.venueId",
          "eventId.$":"$.order.eventId",
          "areaId.$":"$.order.areaId",
          "priceLevelId.$":"$.order.priceLevelId",
          "ticketCount.$":"$.order.ticketCount"
        },
        "AuthType": "NO_AUTH"
      },
      "Next": "ShipTickets",
      "ResultPath": null
    },
    "ShipTickets": {
      "Type": "Task",
      "Resource": "arn:aws:states:::apigateway:invoke",
      "Parameters": {
        "ApiEndpoint": "3cnuf521pd.execute-api.eu-south-1.amazonaws.com",
        "Method": "POST",
        "Path": "/shipment/ship-tickets",
        "Headers": {
          "Content-Type": ["application/json"],
          "Accept": ["application/json"]
        },
        "RequestBody": {
          "orderNumber.$": "$.order.orderNumber"
        },
        "AuthType": "NO_AUTH"
      },
      "End": true
    }
  },
  "TimeoutSeconds": 3600
}